@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Shadows+Into+Light&family=Ysabeau+Infant:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Raleway:wght@300&family=Shadows+Into+Light&family=Ysabeau+Infant:wght@100&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
}

.box_menu {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
}

.box_menu .sidebar_menu {
    font-family: 'Concert One', cursive;
    height: 100vh;
    width: 280px;
    background-color: rgb(57, 58, 57);
    position: fixed;
    overflow: hidden;
    left: -280px;
    transition: all 0.3s linear;
    border-radius: 10px;
}

.box_menu .sidebar_titulo {
    position: absolute;
    box-shadow: 0px 2px 4px rgb(15, 112, 52);
    height: 60px;
    width: 100%;
}

.box_menu .sidebar_titulo2 {
    position: absolute;
    box-shadow: 0px 2px 4px rgb(15, 112, 52);
    height: 490px;
    width: 100%;
}

.box_menu .sidebar_titulo a {
    color: rgb(245, 245, 245);
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    left: 110px;
    line-height: 60px;
}

.sidebar_menu .menu {
    position: absolute;
    top: 55px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin: 10px;
    padding: 14px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar_menu .menu li:hover {
    background-color: rgb(32, 145, 60);
}

.sidebar_menu .menu a {
    color: rgb(245, 245, 245);
    font-size: 18px;
    text-decoration: none;
}

.sidebar_menu .menu2 {
    position: absolute;
    top: 490px;
    width: 100%;
}

.sidebar_menu .menu2 li {
    margin: 10px;
    padding: 14px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar_menu .menu2 li:hover {
    background-color: rgb(32, 145, 60);
}

.sidebar_menu .menu2 a {
    color: rgb(67, 224, 88);
    font-size: 18px;
    text-decoration: none;
}

.menu-icon i {
    color: rgb(255, 255, 255);
    font-size: 40px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu .btn_close i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    color: rgb(193, 207, 207);
}

#check {
    display: none;
}

#check:checked~.sidebar_menu {
    left: -10px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;

    animation: gradient 5s ease alternate infinite;
    background: linear-gradient(-45deg,#18886c,#67ce75 , #65c76d ,#4fe05b ) no-repeat;
    background-size: 300% 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 300%;
}

.cabeçario {
    height: 150px;
    justify-content: center;
    gap: 450px;
}

.cabeçario .title {
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    color: rgb(255, 255, 255);
}

.texto {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 25px;
    color: black;
    text-align: justify;
}

.subtitulo {
    font-family: 'Concert One', cursive;
    font-size: 30px;
    color: rgb(42, 114, 18)
}

.link {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 25px;
    color: rgb(11, 8, 182);
    text-align: justify;
}
a:link {
    color: blue;
    text-decoration: none;
}

/*Link já visitado*/
a:visited {
    color: blue;
    text-decoration: none;
}

.ol {
    list-style-type: decimal
}

.container {
    width: 100vw;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo {
    width: 60vw;
    height: 10vh;
    
}

.img2 {
    background-image: url(https://static.biologianet.com/conteudo/images/o-neuronio-uma-celula-tecido-nervoso-responsavel-pela-transmissao-impulso-nervoso-53fe4f0c38729.jpg);
    width: 288px;
    height: 377px;
}

.img3 {
    background-image: url(https://edisciplinas.usp.br/pluginfile.php/4457837/mod_book/chapter/19709/imagens/Semana_10/BioCel_Sem10_Fig17.jpg);
    width: 290px;
    height: 450px;
}

.img4 {
    background-image: url(https://www.sobiologia.com.br/figuras/Histologia/sangue2.jpg);
    width: 300px;
    height: 204px;
}

.img5 {
    background-image: url(https://www.unifal-mg.edu.br/histologiainterativa/wp-content/uploads/sites/38/2019/09/c%C3%A9lulas-%C3%B3sseas.jpg);
    width: 770px;
    height: 405px;
}

.img6{
    background-image: url(https://static.mundoeducacao.uol.com.br/mundoeducacao/2020/10/celula-animal.jpg);
    width: 600px;
    height: 519px;
}

.img7{
    background-image: url(https://static.todamateria.com.br/upload/ce/lu/celulaanimal-0.jpg?auto_optimize=low);
    width: 685px;
    height: 655px;
}

.img8{
    background-image: url(https://static.todamateria.com.br/upload/55/14/5514b71582eb7-celulas-procariontes-inserir-imagem.jpg);
    width: 800px;
    height: 569px;
}
    
.img9{
    background-image: url(/imagens/celulavegetal.png);
    background-position: center;
    background-size: cover;
    width: 1040px;
    height: 558px;
}
/*card*/
.card {
    height: 500px;
    width: 800px;
    background-color: rgb(184, 233, 148);
    border-radius: 10px;
    display: flex;
}
.card2{
    height: 500px;
    width: 800px;
    background-color: rgb(184, 233, 148);
    border-radius: 10px;
    
}

.metade1{
    height: 500px;
    width: 475px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.metade2{
    height: 500px;
    width: 325px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.centralizador{
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1 {
    background-image: url(https://s1.static.brasilescola.uol.com.br/be/conteudo/images/tecido-epitelial-5c4ae01996371.jpg);
    width: 240px;
    height: 300px;
    
    background-size: cover;

}
.texto_metade1{
    height: 460px;
    width: 435px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 19px;
    color: black;
    text-align: justify;
}

.informacao{
    margin-top: 5%;
    max-width: 40vw;
    width: 10px;
    height: 10px;
}

.leti{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 	424px;
    background-color: #8DD1EE;
    border-radius: 5%;
}
.ray{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 	424px;
    background-color: #8DD1EE;
    border-radius: 5%;
}
.fotoleti{
    background-image: url(/imagens/leticia.png);
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
   
}
.fotoray{
    background-image: url(/imagens/ray.png);
    background-size: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
   
}



.container_metade1{
height: 200px;
}
.container_metade2{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}