@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Shadows+Into+Light&family=Ysabeau+Infant:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(193, 207, 207);
}

.box_menu {
    height: 100vh;
    width: 100%;
}

.box_menu .sidebar_menu {
    font-family: 'Concert One', cursive;
    height: 100vh;
    width: 280px;
    background-color: rgb(74, 109, 123);
    position: fixed;
    overflow: hidden;
    left: -280px;
    transition: all 0.3s linear;
    border-radius: 10px;
}

.box_menu .sidebar_titulo {
    position: absolute;
    box-shadow: 0px 2px 4px rgb(41, 65, 75);
    height: 60px;
    width: 100%;
}

.box_menu .sidebar_titulo2 {
    position: absolute;
    box-shadow: 0px 2px 4px rgb(41, 65, 75);
    height: 490px;
    width: 100%;
}

.box_menu .sidebar_titulo a {
    color: rgb(245, 245, 245);
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    left: 110px;
    line-height: 60px;
}

.sidebar_menu .menu {
    position: absolute;
    top: 55px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin: 10px;
    padding: 14px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar_menu .menu li:hover {
    background-color: rgb(199, 207, 193);
}

.sidebar_menu .menu a {
    color: rgb(245, 245, 245);
    font-size: 18px;
    text-decoration: none;
}

.sidebar_menu .menu2 {
    position: absolute;
    top: 490px;
    width: 100%;
}

.sidebar_menu .menu2 li {
    margin: 10px;
    padding: 14px 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.sidebar_menu .menu2 li:hover {
    background-color: rgb(199, 207, 193);
}

.sidebar_menu .menu2 a {
    color: rgb(245, 245, 245);
    font-size: 18px;
    text-decoration: none;
}

.menu-icon i {
    color: rgb(74, 109, 123);
    font-size: 40px;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
}

.sidebar_menu .btn_close i {
    font-size: 25px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    color: rgb(193, 207, 207);
}

#check {
    display: none;
}

#check:checked~.sidebar_menu {
    left: -10px;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    
    animation: gradient 10s ease alternate infinite;
    background: linear-gradient(-45deg,#8DD1EE,#99d4ee,#aaddf3,#b6e2f5) no-repeat;
    background-size:300% 300%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 300%;
}

.cabeçario {
    height: 100px;
    justify-content: center;
   gap: 450px;
}

.cabeçario .title {
    font-size: 60px;
    font-family: 'Lobster Two', cursive;
    color: rgb(41, 65, 75);
}

.texto {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 25px;
    color: black;
    text-align: justify;
}

.subtitulo {
    font-family: 'Concert One', cursive;
    font-size: 30px;
    color: rgb(74, 117, 109);
}

.link {
    font-family: 'Ysabeau Infant', sans-serif;
    font-size: 25px;
    color: rgb(11, 8, 182);
    text-align: justify;
}
a:link {
    color: blue;
    text-decoration: none;
}

/*Link já visitado*/
a:visited {
    color: blue;
    text-decoration: none;
}
.ol {
    list-style-type: decimal
}

.container {
    width: 100vw;
    height: 195%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.conteudo {
    width: 80vw;
    height: 100%;

}

.img1 {
    background-image: url(https://s1.static.brasilescola.uol.com.br/be/conteudo/images/tecido-epitelial-5c4ae01996371.jpg);
    width: 600px;
    height: 480px;
}

.img2 {
    background-image: url(https://static.biologianet.com/conteudo/images/o-neuronio-uma-celula-tecido-nervoso-responsavel-pela-transmissao-impulso-nervoso-53fe4f0c38729.jpg);
    width: 288px;
    height: 377px;
}

.img3 {
    background-image: url(https://edisciplinas.usp.br/pluginfile.php/4457837/mod_book/chapter/19709/imagens/Semana_10/BioCel_Sem10_Fig17.jpg);
    width: 365px;
    height: 500px;
}

.img4 {
    background-image: url(https://www.sobiologia.com.br/figuras/Histologia/sangue2.jpg);
    width: 300px;
    height: 204px;
}

.img5 {
    background-image: url(https://www.unifal-mg.edu.br/histologiainterativa/wp-content/uploads/sites/38/2019/09/c%C3%A9lulas-%C3%B3sseas.jpg);
    width: 770px;
    height: 405px;
}



@keyframes gradient{
    0%{
      background-position:0 50%;
    }
    50%{
      background-position:100% 50%;
    }
    100%{
      background-position:0 50%;
    }
  }